.button {
  border: 1px solid #45484d;
  border-radius: 7px;
  background-color: #3093c7;
  color: #FFFFFF; 
  padding: 3px 7px;
  font-weight: bold;
}
 
.button:hover {
  Background-color:#4DB8FF;
  color: #45484d;
}

.button:active {
  Background-color: #246BB2;
  color: #FFFFFF;
}
